@import './base';

.resultTableDiv {
    position: relative;
    display: flex;
    width: 30.4rem;
    height: 24rem;
    background-color: $color-secondary;
    border: 2px solid $color-light-green;
    border-radius: 7px;

    &:hover {
        border: 2px solid $color-light-blue;
    }

    h1 {
        margin-top: 2.3rem;
        margin-left: 1.6rem;
        font-weight: 400;
        color: $color-light-green;
        font-size: 1.8rem;
    }

    #elements {
        height: 17.6rem;
        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
        list-style: none;
        width: 86%;
        
        li {
            color: $color-light-green;
            padding-bottom: .5rem;
            font-weight: 400;
            font-size: 1.4rem;
            display: flex;

            p {
                color: $color-light-green;
                font-size: 1.4rem;
            }
            p:hover {
                text-decoration: underline;
                text-decoration-color: $color-light-blue;
                text-decoration-thickness: 2px;
            }
            
            span {
                position: absolute;
                right: 0;
                color: $color-light-green;
                color: #ffffff;

                &:hover  {
                    text-decoration: underline;
                    text-decoration-color: $color-light-blue;
                    text-decoration-thickness: 2px;
    
                }
            }
        }
    }
    
    #total {
        height: 6.4rem;
        position: absolute;
        bottom: 1rem;
        font-size: 1.8rem;
        color: $color-light-green;
        width: 100%;

        h1:hover {
            text-decoration: underline;
            text-decoration-color: $color-light-blue;
            text-decoration-thickness: 2px;

        }
        
        &::before {
            content: " ";
            display: block;
            height: 0;
            width: 100%;
            border: 1px solid $color-light-green;    
        }
        
        &__price {
            position: absolute;
            right: 1.6rem;
            bottom: 1rem;
            color: #ffffff;
            font-weight: 400;
            font-size: 1.8rem;

            &:hover {
                text-decoration: underline;
                text-decoration-color: $color-light-blue;
                text-decoration-thickness: 2px;
            }
        }    
    }
    
    #prices {
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;
    
        p {
            color: #ffffff;
            padding-bottom: .5rem;
            font-weight: 400;
        }
    }
}

